.sobre {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}

.sobre h2 {
  color: #154374;
  margin-bottom: 20px;
}

.sobre p {
  margin-bottom: 14px;
  line-height: 1.6;
  font-weight: normal;
}
