.carousel{
  width: 100vw;
  gap: 0px;
  display: flex;
  height: 300px;
  padding: 0px;

  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.carousel::scroll-button(*):focus {
  opacity: 1;
}

.carousel::scroll-button(*):hover{
  opacity: 1;
  color: #2e7acb;
}
.carousel::scroll-button(*):active {
  translate: 1px 1px;
}

.carousel::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}

.carousel::scroll-button(left) {
  content: "❮";
}

.carousel::scroll-button(right) {
  content: "❯";
}

.carousel {
  anchor-name: --my-carousel;
}

.carousel::scroll-button(*) {
  position: absolute;
  position-anchor: --my-carousel;
}

.carousel::scroll-button(left) {
  right: calc(anchor(left) - 70px);
  bottom: calc(anchor(top) - 155px);
}

.carousel::scroll-button(right) {
  left: calc(anchor(right) - 70px);
  bottom: calc(anchor(top) - 155px);
}

.carousel {
  scroll-marker-group: after;
}

.carousel::scroll-marker-group {
  position: absolute;
  position-anchor: --my-carousel;
  top: calc(anchor(bottom) - 50px);
  justify-self: anchor-center;

  display: flex;
  justify-content: center;
  gap: 50px;
}

.img::scroll-marker {
  content: "";
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
}

.img::scroll-marker:target-current {
  background-color: white;
}

.img {
  list-style-type: none;
  height: 100%;
  padding: 20px;
  background-color: #154374;
  scroll-snap-align: center;
  flex: 0 0 100%;
  
  display: flex;
 
}

.img:nth-child(odd) {
  background-color: #f4e4b7;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
