
.carousel-container {
  position: relative;
  width: 100%; 
  max-width: 100vw; 
  height: 300px;
  margin: 0 auto;
  overflow: hidden; 
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
}

.img {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.nav-btn:hover { background:  none; color: #2e7acb; }
.left { left: 10px; }
.right { right: 10px; }


.indicators {
  position: absolute;
  bottom: 20px;
  left: 0; 
  width: 100%; 
  display: flex;
  justify-content: center; 
  gap: 12px; 
  z-index: 15;
  pointer-events: none;
}

.dot {
  pointer-events: auto; 
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
}

.dot.active {
  background-color: white;
  
}

@media (max-width: 768px) {
  .carousel-container {
    height: 250px; 
  }

  .nav-btn {
    display: flex;         
    align-items: center;
    justify-content: center;
    padding: 10px 8px;    
    font-size: 1.2rem;     
    background: none; 
  }

  .left {
    left: 0;
    border-radius: 0 4px 4px 0;
  }

  .right {
    right: 0;
    border-radius: 4px 0 0 4px;
  }

  .indicators {
    bottom: 10px;
    gap: 8px;
  }

  .dot {
    width: 8px;  
    height: 8px;
  }
}